/\#DataPreparationV2.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/\#DataPreparation-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/\#DataPreparationV2-Copy1_just_to_try_SOMETHING-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/\#DataPreparationV2-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/\#VGG_Model_reference-Copy1_with_confmatrix-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/\#VGG_Model_reference-Copy1_with_dropoutof0,25_andADAGRAD-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/\#VGG_Model_reference-Copy1_with_dropoutof0,25_andSGD-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/\#VGG_Model_reference-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/CNN_Model-Copy1-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/DataPreparation-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/HAlim_model12_03_2020-VGG-model_image_augmentation_adagrad-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/HAlim_model23_02_2020-own-model_image_augmentation-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/HAlim_model_02_2020-own-model14-30_03[[:space:]]Model[[:space:]]de[[:space:]]reference-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/HAlim_model_02_2020-own-model14-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/HAlim_model_03_2020-own-model14-dropout0,75-Copy1_with_adagrad-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/HAlim_model_30_03_2020_dropout0,25-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/HAlim_model_30_03_2020_dropout0,75-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/Own_model_batch_norm_dropout0,25-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/Own_model_batch_norm_dropout0,5_adagrad_05_04-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/VGG-model_image_augmentation_adam-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/VGG-model_image_augmentation_confmatrix_withoutcallbacksdropout0,5-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/VGG_Model-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/dernier_model_mars_essayant_batchnorm_et0padding-Copy1-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/dernier_model_mars_essayant_batchnorm_et0padding-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/model_test_0,9_dropout_on_15epochs-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/own-model-reference-using-dataaugmentation-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/own-model-reference-using-dataaugmentation-without[[:space:]]callbacks-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/.ipynb_checkpoints/own_lastmodel_with_data_augmentation_withclassification_metric-checkpoint.ipynb filter=lfs diff=lfs merge=lfs -text
/Reference_model_05_2022.ipynb filter=lfs diff=lfs merge=lfs -text
/TrainedModel/Reference_model_05_202212052022.model filter=lfs diff=lfs merge=lfs -text
/formatted_dataset/X.pickle filter=lfs diff=lfs merge=lfs -text
/formatted_dataset/X_test.pickle filter=lfs diff=lfs merge=lfs -text
/formatted_dataset/Y.pickle filter=lfs diff=lfs merge=lfs -text
